<h2>Black Hills Energy Choice Gas</h2>
<p>
  Every year, Black Hills Energy sends their customers a ballot in the mail.
  This ballot allows customers the opportunity to choose their wholesale
  provider. Black Hills Energy will then make energy purchases on your behalf,
  using rates that you are allowed to negotiate. If you pick a good rate, you
  can save a tremendous amount of money on your Natural Gas bill.
</p>

<p>
  This site is designed to help you crunch the numbers using your own usage
  information, so you can make an excellent decision.
</p>

<p>
  <a [routerLink]="['explorer']" class="btn btn-xl btn-primary"
    >Open The Price Explorer</a
  >
</p>

<hr />

<h2>Definitions</h2>

<dl>
  <dt>Control Number</dt>
  <dd>
    Your Control Number is used to authorize a Vendor/Supplier and a Offer/Rate.
    If you give your Control Number to a Supplier over the phone, they will be
    able to make selections on your behalf. Keep your Control Number private,
    and do not share it until you are ready to make a rate selection.
  </dd>

  <dt>Confirmation Code</dt>
  <dd>
    A Confirmation Code is a unique identifier for a rate. If a Supplier offers
    a Confirmation Code, you can use that code to lock in a rate. Suppliers will
    often avoid giving you a Confirmation Code.
  </dd>

  <dt>Commodity Charge</dt>
  <dd>
    The Commodity Charge is the cost of the natural gas you use. This is the
    part of your bill subject to the Choice Gas program. The Commodity Charge is
    only one part of your overall bill. Additional usage-base charges, taxes,
    and fees will also appear on your bill.
  </dd>

  <dt>Therm</dt>
  <dd>
    A therm is a unit of heat energy. One therm is equal to about 100,000
    British Thermal Units (BTU). Natural Gas is measured and billed in therms. 1
    MMBTU ~= 10 therms. To convert $/MMBTU price to $/therm, divide by 10.
  </dd>
</dl>

<hr />

<h2>Frequently Asked Questions</h2>

<h3>What is an Offer?</h3>
<p>
  An offer is a rate that a supplier is willing to sell you gas at. The offer
  includes a commodity charge rate and a term (1 or 2 years). The commodity
  charge is but one part of your overall bill. On your bill these are broken up
  into four categories:
</p>
<dl>
  <dt>Delivery and distribution</dt>
  <dd>
    These costs are a per-therm charge. The more you use, the more you pay.
  </dd>
  <dt>Energy Supply</dt>
  <dd>
    These costs are the subject of Choice Gas negotiation. You can see an Index
    rate, Fixed/Therm, Fixed/Month, or a combination of these.
  </dd>
  <dt>Other Costs</dt>
  <dd>
    There are some administration fees here. If you have balanced billing,
    adjustments will appear in this section.
  </dd>
  <dt>Taxes and Fees</dt>
  <dd>
    State/County taxes appear here. Some per-therm charges may also appear in
    this section.
  </dd>
</dl>

<h3>Types of Rates</h3>
<h4>Index or CIG-adder</h4>
<p>
  These rates track the current market price, known as CIG. If the current
  natural gas prices are low and stable, these rates can be a good choice.
</p>
<h4>Fixed/Therm</h4>
<p>
  These rates are a fixed price per therm. If you use 100 therms at 50
  cents/therm, the commodity charge will be $50. If you use 200 therms at 50
  cents/therm, the commodity charge will be $100. The rate will not change for
  the duration of your Offer term.
</p>
<h4>Fixed/Month (commonly called Winter rates or Budget assist rates)</h4>
<p>
  These rates are a fixed price per month. If you are offered a Fixed/Month rate
  of $50, you will pay a $50 commodity charge every month, regardless of how
  much gas you use. However, be mindful of other per-therm charges (Volumetric
  Charge and Taxes) on your bill. Just because your commodity charge is fixed,
  it doesn't mean your bill will also be.
</p>
<h4>Gas Cost Adjustment Regulated Rate (formerly known as the Pass-On Rate)</h4>
<p>
  This rate is a fixed price per therm, but it can change every month. The rate
  is regulated by the Wyoming Public Service Commission, and is usually quite
  competitive. In some ways, it is an index rate, but in other ways it can be
  considered a fixed/therm rate, which is why it is in a category of its own.
</p>
<h4>Blended Rate</h4>
<p>
  These rates are a combination of the Fixed/Therm and Fixed/Month rates. You
  will typically pay the lower of an index/cig rate, or a fixed/therm rate.
</p>
