@if (bill(); as b) {
	<table>
		<tbody>
			<tr>
				<th colspan="4">Per-Therm</th>
			</tr>
			@for (line of b.lines[ChargeType.PerTherm]; track $index) {
				<tr>
					<td>{{ line[0] }}</td>
					<td>{{ line[1] }}</td>
					<td>{{ line[2] }}</td>
					<td class="numeric">{{ line[3] | number: '1.2-2' }}</td>
				</tr>
			}
			<tr>
				<td colspan="3"><em>Per-Therm subtotal</em></td>
				<td class="numeric">
					{{ b.subtotals[0] | number: '1.2-2' }}
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th colspan="4">Per-Month</th>
			</tr>
			@for (line of b.lines[ChargeType.PerMonth]; track $index) {
				<tr>
					<td colspan="3">{{ line[0] }}</td>
					<td class="numeric">{{ line[3] | number: '1.2-2' }}</td>
				</tr>
			}
			<tr>
				<td colspan="3"><em>Fixed/Month subtotal</em></td>
				<td class="numeric">
					{{ b.subtotals[ChargeType.PerMonth] | number: '1.2-2' }}
				</td>
			</tr>
		</tbody>
		<tbody>
			<tr>
				<th colspan="4">Taxes</th>
			</tr>
			@for (line of b.lines[ChargeType.Tax]; track $index) {
				<tr>
					<td colspan="3">{{ line[0] }}</td>
					<td class="numeric">{{ line[3] | number: '1.2-2' }}</td>
				</tr>
			}
			<tr>
				<td colspan="3"><em>Taxes subtotal</em></td>
				<td class="numeric">
					{{ b.subtotals[2] | number: '1.2-2' }}
				</td>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td colspan="3"><strong>Total</strong></td>
				<td class="numeric">
					<strong>{{ b.total | number: '1.2-2' }}</strong>
				</td>
			</tr>
		</tfoot>
	</table>
}
