.board {
  position: relative;
  .puzzle {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 1rem;
    row-gap: 1rem;
    margin: 0;
    padding: 0;
  }

  .group {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: contents;
  }

  .group-items {
    display: contents;
  }

  .tile {
    list-style-type: none;
    border-radius: 7px;
    text-align: center;
    padding: 2em 0;
    background-color: #efefef;
    font-weight: bold;
    cursor: pointer;

    &.tile--selected {
      background-color: #5a594e;
      color: #fff;
    }
  }
  .heckle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #000;
    margin: 0;
    padding: 0.75em;
    color: #fff;
  }
}
