<input
	type="checkbox"
	name="useExcelLayout"
	id="useExcelLayout"
	[(ngModel)]="useExcelLayout"
/>
Excel Layout
<div class="board" [class.board--as-excel]="useExcelLayout">
	@for (tile of engine.getBoard(); track $index) {
		<div
			class="tile"
			[class.tile--occupied]="tile.occupied"
			[class.tile--available]="tile.occupied === false"
			[class.tile--in-chain]="tile.chain"
			[style.background-color]="getTileColor(tile.chain)"
			(click)="placeTileRaster($index)"
		>
			{{ getTileLabel($index) }}
		</div>
	}
</div>
