@if (vm$ | async; as vm) {
	@if ((vm.series[Series.Usage] | average) === 0) {
		<div class="alert alert-warning" role="alert">
			You haven't entered any usage data. Go to the
			<a [routerLink]="['..', 'data-editor']">Data Editor</a> to enter
			your usage.
		</div>
	}

	<h3>Price Explorer</h3>
	<p>
		The following table shows the estimated cost of each offer, based on the
		usage and rates you've entered. Hover over each value to see a summary
		of charges. Click on the cost to see more details about the offer. Click
		on a Confirmation Code to enroll in the offer.
	</p>

	@if (
		enrollmentFields()[EnrollmentField.AccountNumber] === '' ||
		enrollmentFields()[EnrollmentField.ControlNumber] === ''
	) {
		<div class="alert alert-warning" role="alert">
			You haven't entered your Account Number or Control Number. Provide
			your enrollment information to enable one-click enrollment links.
			Open Notes to enter your account information.
		</div>
	}

	<div
		class="offcanvas offcanvas-start"
		[class.show]="showSettings()"
		tabindex="-1"
		id="offcanvas"
		aria-labelledby="offcanvasLabel">
		<div class="offcanvas-header">
			<h4 class="offcanvas-title" id="offcanvasLabel">
				Display Settings
			</h4>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="offcanvas"
				(click)="setShowSettings(false)"
				aria-label="Close"></button>
		</div>
		<div class="offcanvas-body">
			<p>
				Customize the Price Explorer to show only the data you want to
				see.
			</p>

			<div class="my-3">
				<h5>Heatmaps</h5>
				<p>
					Heatmaps provide a visual representation of the data in the
					table. Enable or disable heatmaps for additional context.
				</p>
				<ul class="list-group">
					@for (hm of Heatmaps; track $index) {
						<li class="list-group-item">
							<input
								type="checkbox"
								class="form-check-input me-2"
								id="heatmap-{{ $index }}"
								[ngModel]="heatmapsEnabled()[hm]"
								(ngModelChange)="setHeatmap(hm, $event)" />
							<label
								for="heatmap-{{ $index }}"
								class="form-check-label stretched-link"
								>{{ HeatmapLabels[hm] }}</label
							>
						</li>
					}
				</ul>
			</div>

			<div class="my-3">
				<h5>Heatmap Colors</h5>
				<p>
					Select a color scheme for the heatmaps. The color scheme
					will be applied to the entire table.
				</p>
				<select
					id="palette"
					class="form-select my-0"
					[(ngModel)]="scheme">
					@for (s of HeatmapSchemes; track s) {
						<option [value]="s">
							{{ HeatmapSchemeLabels[s] }}
						</option>
					}
				</select>
			</div>

			<div class="my-3">
				<h5>Table Settings</h5>
				<p>
					Adjust display of the table to make it easier to read. High
					density shows more data at once. Stripes make it easier to
					read across rows.
				</p>

				<ul class="list-group">
					<li class="list-group-item">
						<input
							type="checkbox"
							class="form-check-input me-2"
							id="density-normal"
							name="density"
							[(ngModel)]="enableHighDensityTable" />
						<label for="density-normal" class="form-check-label"
							>Enable High-Density Table</label
						>
					</li>
					<li class="list-group-item">
						<input
							type="checkbox"
							class="form-check-input me-2"
							id="enableTableStripes"
							[(ngModel)]="enableStripedTable" /><label
							for="enableTableStripes"
							class="form-check-label"
							>Enable Table Stripes</label
						>
					</li>
				</ul>
			</div>

			<div class="my-3">
				<h5>Show Columns</h5>

				<p>
					Enable or disable columns. Disabling monthly data can make
					the table easier to scroll on smaller screens.
				</p>
				<ul class="list-group">
					@for (s of ExplorerColumns; track $index) {
						<li class="list-group-item">
							<input
								type="checkbox"
								class="form-check-input me-2"
								id="enabledColumns-{{ $index }}"
								[ngModel]="enabledColumns()[s]"
								(ngModelChange)="setColumn(s, $event)" />
							<label
								for="enabledColumns-{{ $index }}"
								class="form-check-label stretched-link"
								>{{ ExplorerColumnLabels[s] }}</label
							>
						</li>
					}
				</ul>
			</div>

			<div class="my-3">
				<h5>Offer Types</h5>
				<p>Filter offers by type.</p>
				<ul class="list-group">
					@for (ot of OfferTypes; track $index) {
						<li class="list-group-item">
							<input
								type="checkbox"
								class="form-check-input me-2"
								id="offerType-{{ $index }}"
								[ngModel]="enabledOfferTypes()[ot]"
								(ngModelChange)="setOfferType(ot, $event)" />
							<label
								for="offerType-{{ $index }}"
								class="form-check-label stretched-link"
								>{{ OfferTypeLabels[ot] }}</label
							>
						</li>
					}
				</ul>
			</div>

			<div class="my-3">
				<h5>{{ HeatmapLabels[Heatmap.Series] }}</h5>
				<p>
					Add additional data to the table header for additional
					context about prices and market conditions.
				</p>
				<ul class="list-group">
					@for (s of SeriesKeys; track $index) {
						<li class="list-group-item">
							<input
								type="checkbox"
								class="form-check-input me-2"
								id="enabledSeries-{{ $index }}"
								[ngModel]="enabledSeries()[s]"
								(ngModelChange)="setSeries(s, $event)" />
							<label
								for="enabledSeries-{{ $index }}"
								class="form-check-label stretched-link"
								>{{ SeriesLabels[s] }}</label
							>
						</li>
					}
				</ul>
			</div>

			<div class="my-3">
				<h5>Reset</h5>
				<p>
					Reset the Price Explorer to the default settings. This will
					show all columns, offer types, and therm usage. Heatmap
					color scheme will not be reset.
				</p>
				<p>
					<button
						class="btn btn-primary"
						type="reset"
						(click)="resetRefiners()">
						Reset Settings
					</button>
				</p>
			</div>
		</div>
	</div>

	<p>
		<button
			class="btn btn-outline-primary btn-xl"
			(click)="setShowSettings(true)">
			Display Settings
		</button>
	</p>

	<div class="">
		<table
			class="table"
			[class.table-striped]="enableStripedTable()"
			[class.table-sm]="enableHighDensityTable()">
			<thead
				style="position: sticky; top: 0; z-index: 1"
				class="headings">
				<tr>
					@for (col of enabledColumnsArray(); track col) {
						@if (col == ExplorerColumn.Average) {
							<th class="text-end">
								{{ ExplorerColumnLabels[col] }}
							</th>
						} @else if (col == ExplorerColumn.ConfirmationCode) {
							<th class="text-center">
								{{ ExplorerColumnLabels[col] }}
							</th>
						} @else if (col == ExplorerColumn.Month) {
							@for (month of Months; track $index) {
								<th scope="col" class="text-end">
									{{ monthLabelsAbbr[month] }}
								</th>
							}
						} @else {
							<th>
								{{ ExplorerColumnLabels[col] }}
							</th>
						}
					}
				</tr>
				@for (series of SeriesKeys; track $index) {
					@if (enabledSeries()[series]) {
						<tr>
							@for (col of enabledColumnsArray(); track col) {
								@if (col == ExplorerColumn.Name) {
									<th scope="row">
										{{ SeriesLabels[series] }}
									</th>
								} @else if (col == ExplorerColumn.Average) {
									<td class="text-end">
										{{
											seriesAverages()[series]
												| number: '1.0-0'
										}}
									</td>
								} @else if (col == ExplorerColumn.Month) {
									@for (
										month of Months;
										track monthIndex;
										let monthIndex = $index
									) {
										<td
											scope="col"
											class="text-end"
											[style]="
												heatmapsEnabled()[
													Heatmap.Series
												]
													? (vm.series[series][month]
														| heat
															: (vm.series[series]
																	| sort
																		: SeriesDirections[
																				series
																		  ])
															: palette())
													: undefined
											">
											{{
												vm.series[series][month]
													| number: '1.0-2'
											}}
										</td>
									}
								} @else {
									<td>&nbsp;</td>
								}
							}
						</tr>
					}
				}
			</thead>
			@for (g of vm.vendors; track $index) {
				<tbody>
					<tr>
						<th>
							{{ g.vendor.name }}
							@if (g.vendor.automated) {
								<span class="footnotes">
									<span class="footnote">
										<a
											[routerLink]="[]"
											class="footnote-link"
											fragment="footnote-automated"
											title="{{
												footnoteExplanations[
													Footnote.Automated
												]
											}}">
											{{
												footnoteSymbols[
													Footnote.Automated
												]
											}}
										</a>
									</span>
								</span>
							}
						</th>
						@if (enabledColumnsArray().length > 1) {
							<td>
								{{ g.vendor.phone | phone }}
							</td>
						}
						@if (enabledColumnsArray().length > 2) {
							<td
								[attr.colspan]="
									enabledColumns()[ExplorerColumn.Month]
										? enabledColumnsArray().length + 11
										: enabledColumnsArray().length
								">
								<a
									href="{{ g.vendor.website }}"
									target="_blank"
									title="Open {{
										g.vendor.name
									}} website in a new tab/window"
									>{{ g.vendor.website }}</a
								>
							</td>
						}
					</tr>
					@for (
						o of g.offers;
						track offerIndex;
						let offerIndex = $index
					) {
						<tr>
							@if (enabledColumns()[ExplorerColumn.Name]) {
								<td>
									<a
										[routerLink]="[
											'/choice-gas',
											'vendors',
											g.vendor.id,
											'offers',
											o.offer.id
										]">
										{{ o.offer.name }}
									</a>
									<span class="footnotes">
										@if (o.offer.isSpecial) {
											<!-- Star Emoji in a span with a hover message -->
											<span class="footnote">
												<a
													[routerLink]="[]"
													class="footnote-link"
													fragment="footnote-special"
													title="{{
														footnoteExplanations[
															Footnote.SpecialRate
														]
													}}">
													{{
														footnoteSymbols[
															Footnote.SpecialRate
														]
													}}
												</a>
											</span>
										}
										@if (o.average === lowest()) {
											<span class="footnote">
												<!-- asterisk in a a with a hover message -->
												<a
													[routerLink]="[]"
													class="footnote-link"
													fragment="footnote-lowest"
													title="{{
														footnoteExplanations[
															Footnote
																.LowestAverageRate
														]
													}}">
													{{
														footnoteSymbols[
															Footnote
																.LowestAverageRate
														]
													}}
												</a>
											</span>
										}
										@if (o.average === highest()) {
											<span class="footnote">
												<!-- barb in a a with a hover message -->
												<a
													[routerLink]="[]"
													class="footnote-link"
													fragment="footnote-highest"
													title="{{
														footnoteExplanations[
															Footnote
																.HighestAverageRate
														]
													}}">
													{{
														footnoteSymbols[
															Footnote
																.HighestAverageRate
														]
													}}
												</a>
											</span>
										}

										@if (o.offer.type === 'fpm') {
											<span class="footnote">
												<a
													[routerLink]="[]"
													class="footnote-link"
													fragment="footnote-fpm"
													title="{{
														footnoteExplanations[
															Footnote
																.FixedPerMonth
														]
													}}">
													{{
														footnoteSymbols[
															Footnote
																.FixedPerMonth
														]
													}}
												</a>
											</span>
										}
									</span>
								</td>
							}

							@if (
								enabledColumns()[
									ExplorerColumn.CommmodityCharge
								]
							) {
								<td>
									@if (o.offer.type === 'fpm') {
										@if (o.offer.rate === 0) {
											<a
												[routerLink]="[
													'/choice-gas',
													'vendors',
													g.vendor.id,
													'offers',
													o.offer.id
												]"
												class="link-danger"
												>Edit Rate</a
											>
										} @else {
											${{
												o.offer.rate | number: '1.2-4'
											}}/month
										}
									} @else if (o.offer.type === 'fpt') {
										${{
											o.offer.rate | number: '1.2-4'
										}}/therm
									} @else if (o.offer.type === 'market') {
										{{ MarketLabels[o.offer.market] }}
										${{
											vm.series[o.offer.market][
												Month.January
											] | number: '1.2-4'
										}}
										@if (o.offer.rate > 0) {
											+ ${{
												o.offer.rate | number: '1.2-4'
											}}
										} @else if (o.offer.rate < 0) {
											- ${{
												o.offer.rate * -1
													| number: '1.2-4'
											}}
										} @else {}
									} @else if (o.offer.type === 'blended') {
										Blended
									} @else if (o.offer.type === 'best') {
										Best
									}
								</td>
							}
							@if (enabledColumns()[ExplorerColumn.Term]) {
								<td>{{ o.offer.term }} yr</td>
							}
							@if (
								enabledColumns()[
									ExplorerColumn.ConfirmationCode
								]
							) {
								<td class="text-center">
									@if (!o.offer.confirmationCode) {
										- - -&nbsp;
										<span class="footnotes">
											<span class="footnote">
												<a
													[routerLink]="[]"
													class="footnote-link"
													fragment="footnote-no-cc"
													title="{{
														footnoteExplanations[
															Footnote
																.NoConfirmationCode
														]
													}}">
													{{
														footnoteSymbols[
															Footnote
																.NoConfirmationCode
														]
													}}
												</a>
											</span>
										</span>
									} @else {
										@if (
											enrollmentFields()[
												EnrollmentField.AccountNumber
											] &&
											enrollmentFields()[
												EnrollmentField.ControlNumber
											]
										) {
											<a
												href="{{
													enrollmentFields()
														| enrollmentLink
															: o.offer
																	.confirmationCode
												}}"
												target="_blank"
												>{{
													o.offer.confirmationCode
												}}</a
											>
										} @else {
											{{ o.offer.confirmationCode }}
										}
									}
								</td>
							}
							@if (enabledColumns()[ExplorerColumn.Average]) {
								@if (
									o.offer.type === 'fpm' && o.offer.rate === 0
								) {
									<td class="text-end">- - -</td>
								} @else {
									<td
										class="text-end"
										[class.highest]="
											o.average === highest()
										"
										[class.lowest]="o.average === lowest()"
										[class.heat--enabled]="
											heatmapsEnabled()[Heatmap.Averages]
										"
										[style]="
											heatmapsEnabled()[Heatmap.Averages]
												? (o.average
													| heat
														: offerAverages()
														: palette())
												: undefined
										">
										${{ o.average | number: '1.2-2' }}
									</td>
								}
							}
							@if (enabledColumns()[ExplorerColumn.Month]) {
								@for (month of Months; track month) {
									<td
										class="text-end bill__total"
										[class.heat--enabled]="
											heatmapsEnabled()[Heatmap.Totals]
										"
										[style]="
											heatmapsEnabled()[Heatmap.Totals]
												? (o.bills[month].bill.total
													| heat
														: (valueTotals() | sort)
														: palette())
												: undefined
										">
										<app-bill-total
											[bill]="o.bills[month].bill"
											[offer]="o.offer"></app-bill-total>
									</td>
								}
							}
						</tr>
					} @empty {
						<tr>
							<td [attr.colspan]="17">
								No offers available at this time. Check back
								soon.
							</td>
						</tr>
					}
				</tbody>
			}

			<tfoot>
				<tr>
					<td
						[attr.colspan]="
							enabledColumns()[ExplorerColumn.Month]
								? enabledColumnsArray().length + 11
								: enabledColumnsArray().length
						">
						<ul id="footnotes" class="list-unstyled small">
							<li id="footnote-lowest">
								<em>
									{{
										footnoteSymbols[
											Footnote.LowestAverageRate
										]
									}}
									{{
										footnoteExplanations[
											Footnote.LowestAverageRate
										]
									}}
								</em>
							</li>
							<li id="footnote-highest">
								<em>
									{{
										footnoteSymbols[
											Footnote.HighestAverageRate
										]
									}}
									{{
										footnoteExplanations[
											Footnote.HighestAverageRate
										]
									}}
								</em>
							</li>
							<li id="footnote-automated">
								<em>
									{{ footnoteSymbols[Footnote.Automated] }}
									{{
										footnoteExplanations[Footnote.Automated]
									}}
								</em>
							</li>
							<li id="footnote-special">
								<em>
									{{ footnoteSymbols[Footnote.SpecialRate] }}
									{{
										footnoteExplanations[
											Footnote.SpecialRate
										]
									}}
								</em>
							</li>
							<li id="footnote-fpm">
								<em>
									{{
										footnoteSymbols[Footnote.FixedPerMonth]
									}}
									{{
										footnoteExplanations[
											Footnote.FixedPerMonth
										]
									}}
								</em>
							</li>
							<li id="footnote-no-cc">
								<em>
									{{
										footnoteSymbols[
											Footnote.NoConfirmationCode
										]
									}}
									{{
										footnoteExplanations[
											Footnote.NoConfirmationCode
										]
									}}
								</em>
							</li>
						</ul>
					</td>
				</tr>
			</tfoot>
		</table>
	</div>
} @else {
	<div class="row">
		<h2>Loading...</h2>
		<p>The price explorer is calculating your prices.</p>
	</div>
}
