.container {
  width: 50%;
  max-width: 50em;
  margin: 1.5em auto;
}

.container.container--fluid {
  width: 95%;
  max-width: 95%;
}

// small screens, 90%
@media (max-width: 600px) {
  .container {
    width: 90%;
    max-width: 90%;
  }
}
