<h1>Choice Gas</h1>
<nav>
	<ul>
		<li>
			<a [routerLink]="['./']">Choice Gas Home</a> Learn about the tool
			and how to navigate the Choice Gas program.
		</li>
		<li>
			<a [routerLink]="['calculator']">Bill calculator</a> Run the
			numbers, and find an natural gas supplier offer that meets your
			budget.
		</li>
		<li>
			<a [routerLink]="['data']">Data Editor</a> Edit vendors and default
			offers.
		</li>
		<li>
			<a [routerLink]="['developers']">Developer Information</a> Learn how
			to provide competitive real-time data to this tool and win customers
			with less effort.
		</li>
	</ul>
</nav>
<main>
	<router-outlet></router-outlet>
</main>
