<div class="container-lg">
	@if (
		{
			offer: offer$ | async,
			vendor: vendor$ | async
		};
		as v
	) {
		@if (data$ | async; as d) {
			@if (v.vendor) {
				<h1>{{ v.vendor.name }}</h1>
				<p>
					<a href="{{ v.vendor.website }}">{{ v.vendor.website }}</a>
					&bull;
					{{ v.vendor.phone | phone }}
				</p>
			}

			@if (v.offer) {
				<h2>{{ v.offer.name }} &mdash; {{ v.offer.term }} year</h2>

				@switch (v.offer.type) {
					@case ('fpt') {
						<p>
							This offer is a fixed per-therm rate. The commodity
							charge will be ${{ v.offer.rate | number: '1.2-2' }}
							per therm.
						</p>
					}
					@case ('fpm') {
						<p>
							This offer is a fixed monthly rate. The commodity
							charge will be ${{ v.offer.rate | number: '1.2-2' }}
							every month. Per-therm fees (like delivery charges)
							and taxes will cause every bill's total to
							fluctuate.
						</p>

						<h3>Rate Override</h3>
						<p>
							You can override the rate for this fixed monthly
							rate.
						</p>
						<div class="form-group">
							<label for="rate">Rate</label>
							<input
								type="number"
								class="form-control"
								id="rate"
								[ngModel]="v.offer.rate"
								(ngModelChange)="
									setOverride($any(v.vendor), v.offer, $event)
								" />
						</div>
					}
					@case ('market') {
						<p>
							This offer is a market-indexed rate. The commodity
							charge will be the month's
							{{ MarketLabels[v.offer.market] }} rate +/- the
							offer rate, ${{ v.offer.rate | number: '1.2-2' }}
						</p>
					}
					@case ('blended') {
						<p>
							This offer is a blend of multiple offers. The
							commodity charge will be the weighted average of the
							offers.
						</p>
						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th>Weight</th>
									<th>Type</th>
									<th>Rate</th>
								</tr>
							</thead>
							<tbody>
								@for (offer of v.offer.offers; track $index) {
									<tr>
										<td>{{ offer[0] }}</td>
										<!-- <td>{{ offer.type === 'fpt' ? 'Fixed/Therm' :  }}</td> -->
										<td>
											@switch (offer[1].type) {
												@case ('fpt') {
													Fixed/Therm
												}
												@case ('fpm') {
													Fixed/Month
												}
												@case ('market') {
													Market
												}
											}
										</td>
										<td>
											@switch (offer[1].type) {
												@case ('fpt') {
													${{
														offer[1].rate
															| number: '1.2-4'
													}}/Therm
												}
												@case ('fpm') {
													${{
														offer[1].rate
															| number: '1.2-2'
													}}/Month
												}
												@case ('market') {
													{{
														offer[1].rate
															| number: '1.4-4'
													}}/Therm
												}
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					@case ('best') {
						<p>
							This offer is a best-of rate. The commodity charge
							will be selected from the lowest calculated rate
							from several offers.
						</p>
						<table class="table table-sm table-striped">
							<thead>
								<tr>
									<th>Type</th>
									<th>Rate</th>
								</tr>
							</thead>
							<tbody>
								@for (offer of v.offer.offers; track $index) {
									<tr>
										<!-- <td>{{ offer[1].type === 'fpt' ? 'Fixed/Therm' :  }}</td> -->
										<td>
											@switch (offer.type) {
												@case ('fpt') {
													Fixed/Therm
												}
												@case ('fpm') {
													Fixed/Month
												}
												@case ('market') {
													Market
												}
												@case ('blended') {
													Blended
												}
												@case ('best') {
													Best
												}
												@case ('custom') {
													Custom
												}
											}
										</td>
										<td>
											@switch (offer.type) {
												@case ('fpt') {
													${{
														offer.rate
															| number: '1.2-4'
													}}/Therm
												}
												@case ('fpm') {
													${{
														offer.rate
															| number: '1.2-2'
													}}/Month
												}
												@case ('market') {
													Market
													{{
														offer.rate > 0
															? '+'
															: ''
													}}
													${{
														offer.rate
															| number: '1.4-4'
													}}/Therm
												}
												@case ('blended') {
													Blended
												}
												@case ('best') {
													Best
												}
												@case ('custom') {
													Custom
												}
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
					}
					@case ('custom') {
						<p>
							This offer is a custom rate. The commodity charge
							will be calculated based on the formula provided.
						</p>
					}
				}

				<hr />

				<h3>Your Projected Usage</h3>
				<div class="bills my-3">
					@for (bill of bills$ | async; track $index) {
						<details id="{{ MonthLabels[bill.month] }}">
							<summary>
								<div class="disclosure-triangle col-auto">
									<!-- arrow pointing right -->
									&#9656;
								</div>
								<div class="title col">
									{{ MonthLabels[bill.month] }}
								</div>
								<div class="figures col col-md-6">
									<div class="tpd col">
										<span
											[style]="
												bill.thermsPerDollar
													| heat: tpds() : palette()
											">
											Avg
											{{
												bill.thermsPerDollar
													| number: '1.1-2'
											}}
											therm/$
										</span>
									</div>
									<div class="dpt col">
										<span
											[style]="
												bill.dollarsPerTherm
													| heat: dpts() : palette()
											">
											Avg ${{
												bill.dollarsPerTherm
													| number: '1.2-2'
											}}/therm</span
										>
									</div>
									<div class="therms col">
										<span
											[style]="
												bill.therms
													| heat: therms() : palette()
											">
											{{
												d.series[Series.Usage][
													bill.month
												]
											}}
											therms
										</span>
									</div>
									<div class="total col">
										<span
											[style]="
												bill.total
													| heat: totals() : palette()
											"
											>${{
												bill.total | number: '1.2-2'
											}}</span
										>
									</div>
								</div>
							</summary>
							<article>
								<app-bill [bill]="bill"></app-bill>
							</article>
						</details>
					}
				</div>
			}
		}
	}
</div>
